<h2>Genres in your collection</h2>
<h4>Click to see movies in that genre</h4>

<p>
    <% @genres.each do |genre| %>
        <h4><a href="/genres/<%= genre.name %>"><%= genre.name.capitalize %></a></h4>
        <br>
    <% end %>
</p>

<a href="/user">Home</a>
<a href="/user/logout">Logout</a>