<h2>Directors in your collection</h2>
<h4>Click on director to see their movies</h4>
<p>
    <% @directors.each do |director| %>
        <h4><a href="/directors/<%= director.slug %>"><%= director.name %></a></h4>
        <br>
    <% end %>
</p>

<a href="/user">Home</a>
<a href="/user/logout">Logout</a>