<h2>Movies by <%= @director.name %>:</h2>

<p>
        <% @director_movies.each do |movie| %>
        <h4><a href="/movies/<%= movie.slug %>"><%= movie.name %></a></h4>
        <br>
        <% end %>
</p>

<a href="/directors">Back</a>
<a href="/user">Home</a>
<a href="/user/logout">Logout</a>