<h2>Welcome to The Movie Collection Database, <%= @user.name %>!</h2>
<br><br>

<% if @user.movies.empty? %>

<h3>It's time to start collecting!</h3>
<% else %>

<h3>Find movies by:</h3>
<p>
    <h3><a href="/movies">Title</a></h3>
    <h3><a href="/directors">Director</a></h3>
    <h3><a href="/genres">Genre</a></h3>
    <h3><a href="/formats">Format</a></h3>
</p>

<% end %>

<br><br>
<h3>Add a movie to your collection:</h3>
<a href="/movies/new">Add</a>
</br></br>
<a href="/user/logout">Logout</a>