<h2>Create New Account:</h2>

<form method="post" action="/user/new">
    <label for="user[username]">Username: </label>
    <input type="text" name="user[username]"></input>
    </br></br>

    <label for="user[password]">Password: </label>
    <input type="text" name="user[password]"></input>
    <br><br>
    <input type="submit" value="Create Account"></input>
</form>

</br></br>
<a href="/">Home</a>