<h2>Formats:</h2>
<h4>Click to see movies in that genre</h4>

<p>
    <% @formats.each do |format| %>
        <h4><a href="/formats/<%= format.name %>"><%= format.name.capitalize %></a></h4>
        <br>
    <% end %>
</p>

<a href="/user">Home</a>
<a href="/user/logout">Logout</a>